@import "colors.scss";

html{
    font-size:62.5%;
}

body{
    font-size:1.4vw;
    color:$black;
}

a{
    color:#fff;
    text-decoration:none;
}

a:visited{
    color:#fff;
}

h2{
    font-size:3vw;
    position:relative;
    width: fit-content;
    margin: 0 auto;
    margin-top: 2rem;
}

h2:before{
    content:"";
    width: 5px;
    height: 100%;
    background: #ccc;
    position:absolute;
    top: 0;
    left: -1em;
}

.err{
    width: 80%;
    margin:2rem auto;
    background: $danger;
    color:#fff;
    text-align: center;
    padding: 2rem 0;
    border-radius:7px;
    box-shadow:2px 2px 4px #ccc;
}

.submit-btn{
    width: 80%;
    margin: 1rem auto;
    height:2em;   
    display: flex;
    justify-content: center;
    align-items: center;
    background: $blue;
    color:#fff;
    border:none;
    border-radius:5px;
}

.container{
    max-width:1000px;
    width:100%;
    margin: 0 auto;
}

/*______________________________
header
______________________________*/

header{
    background: $blue;
    padding: 4vh 2vw;

    h1{
        a{
            font-size:2vw;
            font-weight:bold;
            color:#fff;
        }
        
    }

    .header-nav{
        display: flex;
        justify-content: flex-end;

        a{
            display: block;
            width: fit-content;
            border-right:1px solid #ccc;
            padding:0  1rem;
        }

        a:hover{
            font-size:1.5vw;
            transition:font-size .25s ease;
        }
    }

    .header-nav a:first-child{
        border-left:1px solid #ccc;
    }
    
}

/*______________________________
index
______________________________*/

table,tr,th,td{
    border-collapse: collapse;
    border:2px solid #ccc;
}

table{
    width: 95%;
    margin:3rem auto;
    font-size:2vw;
    
    td{
        padding:1rem;
        a{
            color:$black;
        }

        a:visited{
            color:$black;
        }
        
    }
    .table-name{
        width: 40%;
    }

    .table-place{
        width: 30%;
    }

    .table-stock,.table-edit{
        width: 15%;
        text-align: center;
    }
    .table-stock-danger{
        width: 15%;
        text-align: center;
        background:$danger;
    }
}

@media screen and (min-width:1025px){
    table{
        font-size:1.6vw;
    }
}

/*______________________________
create
______________________________*/
.create ,.edit{
    form{
        width: 60%;
        margin: 2rem auto;
        background: #ccc;
        padding: 2rem;
        border-radius:5px;
        
        .form-group{
            display: flex;
            column-gap:1rem;
            margin-bottom: 2rem;

            label{
                width: 15%;
            }

            input{
                width: 85%;
            }
        }
    }
}
/*______________________________
use
______________________________*/
.use{
    width: 70%;
    margin:0 auto;
    form{
        margin: 2rem auto;
        display: flex;
        flex-direction:column;
        justify-content: space-between;
        align-items: center;
        background: #ccc;
        border-radius:5px;
        padding:1rem;

        .form-group{
            display: flex;
            align-items: center;
            column-gap:2rem;
            height:2.5rem;

            input{
                width: 5rem;
            }
        }

        .wrap{
            border-bottom:1px dotted #333;
            margin-bottom: 3rem;
            width: 100%;
            line-height:1.2;
            
        }
    }

}

.back-btn{
    position:fixed;
    top:10%;
    left:50%;
    transform:translate(-50%,-50%);

    
        form{
            background:$danger;
            width: 500px;
            border-radius:5px;
            box-shadow:2px 2px 6px #333;
            color:#fff;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    
}

/*______________________________

______________________________*/
/*______________________________

______________________________*/